.link-button {
  @include text-2;
  color: $btn-primary-color;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  width: fit-content;
  &:hover {
    border-bottom: 1px solid $btn-primary-color;
  }
  svg {
    fill: $primary-color;
    bottom: 0.25rem;
    margin-left: $tiny-space;
  }
  &__disabled {
    color: $btn-disabled;
    svg {
      fill: $btn-disabled;
    }
    &:hover {
      border-bottom: 0px;
    }
    cursor: not-allowed;
  }
}
