@import './base/reset';
@import './base/colors';
@import './base/typography';
@import './base/radius';
@import './base/shadow';
@import './base/spaces';
@import '../components/Button/button.scss';
@import '../components/Link/link.scss';
@import '../components/TextField/textfield.scss';

html {
  font-family: $main-font;
}


.link-message {
  @include text-2;
  display: inline-block;
  margin-right: $small-space;
  margin-top: 2*$small-space;
  margin-bottom: 2*$small-space;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.form-page {
  padding: 100px $small-space;

  .title {
    @include title-2;
  }
  .input-group {
    margin-bottom: $tiny-space;
  }

  .login-form {
    .button--primary {
      margin-top: $large-space;
    }
    .reset-password-link {
      display: flex;
      justify-content: flex-end;
    }
  }
  .reset-password-form {
    margin-top: $regular-space;
    .button--secondary {
      margin-top: $tiny-space;
    }
  }

  .register-form, .reset-password-form {
    .button--primary {
      margin-top: $tiny-space;
    }
  }
}

@media (min-width: 767px) {
  html {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-page {
    padding: 0;
    width: 360px;
    .reset-password-form {
      margin-top: 2 * $small-space;
    }
    .register-form, .reset-password-form {
      .button--primary {
        margin-top: 2* $small-space;
      }
    }
  }
}
