@import './base/reset';
@import './base/colors';
@import './base/typography';
@import './base/radius';
@import './base/shadow';
@import './base/spaces';

html {
  font-family: $main-font;
}

.form-page {
  padding: 100px $small-space;

  .title {
    @include title-2;
  }
  .input-group {
    margin-bottom: $tiny-space;
  }

  .login-form {
    .link-button {
      margin-bottom: $large-space;
    }
  }
}

@media (min-width: 767px) {
  html {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-page {
    padding: 0;
    width: 360px;
  }
}
