@import '../styles/main.scss';

.storybook-button {
  font-weight: $font-normal;
  font-size: $font-size-regular;
  cursor: pointer;
  display: inline-block;
  padding: $tiny-space $regular-space;
  border-radius: $radius-regular;
}
.storybook-button--primary {
  color: $btn-secondary-color;
  background-color: $btn-primary-color;
  &__disabled {
    color: $btn-secondary-color;
    background-color: $btn-disabled;
  }
}
.storybook-button--secondary {
  color: $btn-primary-color;
  background-color: $btn-secondary-color;
  &__disabled {
    color: $btn-disabled;
  }
}

.storybook-button--primary, .storybook-button--secondary {
  border: 1px solid $btn-primary-color;
  &:hover {
    transform: translateY(-1px);
    transition: all 0.2s ease-in-out;
    box-shadow: $primary-shadow;
  }
  &__disabled {
    border: 1px solid $btn-disabled;
    cursor: not-allowed;
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.storybook-button--lean {
  border: 0px;
  border-radius: 0;
  color: $btn-primary-color;
  background-color: $btn-secondary-color;
  display: inline-flex;
  align-self: center;
  padding: 0;
  &:hover {
    border-bottom: 1px solid $btn-primary-color;
  }
  svg {
    fill: $primary-color;
    bottom:2px;
    position: relative;
    margin-left: $tiny-space;
  }
  &__disabled {
    color: $btn-disabled;
    svg {
      fill: $btn-disabled;
    }
    &:hover {
      border-bottom: 0px;
    }
    cursor: not-allowed;
  }
}
