@import '../styles/main.scss';

.storybook-button {
  font-weight: $font-normal;
  font-size: $font-size-regular;
  cursor: pointer;
  display: inline-block;
  padding: $tiny-space $regular-space;
  border-radius: $radius-regular;
}
.storybook-button--primary {
  color: $btn-secondary-color;
  background-color: $btn-primary-color;
  &__disabled {
    color: $btn-secondary-color;
    background-color: $btn-disabled;
  }
}
.storybook-button--secondary {
  color: $btn-primary-color;
  background-color: $btn-secondary-color;
  &__disabled {
    color: $btn-disabled;
  }
}

.storybook-button--primary, .storybook-button--secondary {
  border: 1px solid $btn-primary-color;
  &:hover {
    transform: translateY(-1px);
    box-shadow: $primary-shadow;
  }
  &__disabled {
    border: 1px solid $btn-disabled;
    cursor: not-allowed;
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
