$primary-color: #5F30E2;
$secondary-color: #F5F1FF;

$surface-color: #ECECEC;
$blank-color: #FFFFFF;

$primary-text-color: #101010;
$secondary-text-color: #494949;

$primary-error-color: #EB8C95;
$secondary-error-color: #FEF1F2;

$primary-validation-color: #5F30E2;
$secondary-validation-color: #F5F1FF;

$btn-primary-color: #5F30E2;
$btn-secondary-color: #FFFFFF;

$btn-disabled: #AEAEAE;
$placeholder-color-disabled: #EDEDF0