$main-font: 'Roboto', Arial, sans-serif;

$font-size-large-title: 48px;
$font-size-regular-title: 36px;
$font-size-small-title: 24px;
$font-size-large: 19px;
$font-size-regular: 17px;
$font-size-small: 14px;
$font-size-extra-small: 11px;

$font-medium: 500;
$font-normal:400;
